// 리눅스나 맥에선 이 확장자가 숨김효과가 있음.
// .eslintrc
{
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },

    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },

    "extends": [
        // 여기가 실제적인 rules
        "exlint : recommended",
        "plugin:react/recommended"
    ],

    "plugins": [
        "import",
        "react-hooks"
    ],
    "rules": {

    }
}